* {
  font-family: Helvetica, sans-serif, Arial;
}

body {
  padding: 60px;
}
input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 10px;
}
input.hover {
  background-color: blue;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 10%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container{
  /* border: solid gray; */
  padding: 10px;
}
